body{
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
} 
h1 {
    color: white;
}
/* ul {
    color: yellow;
} */
li {
    margin: 10px 0;
    color: lightgreen;
}
li ol li {
    color: orange;
}
